<div class="kanban-container">
  <div class="to-do-container">
    <div class="header">
      <span class="header-title">To-do <span class="count">{{TaskListData?.todo?.length || 0}}</span></span>
      <button class="add-task-btn" (click)="addNewTask('todo')">+ Add</button>
    </div>
    <div
      class="to-do-list"
      id="todo-list"
      cdkDropList
      [cdkDropListData]="TaskListData?.todo || []"
      [cdkDropListConnectedTo]="['inProgress-list', 'done-list']"
      (cdkDropListDropped)="onDrop($event)">
      <div
        class="task-item"
        *ngFor="let item of TaskListData?.todo"
        cdkDrag
        [cdkDragData]="item">
        <div class="drag-handle" cdkDragHandle></div>
        <span class="title">{{item.title}}</span>
        <span class="description">{{item.description}}</span>
        <div class="subtasks">
          <div class="subtask-item" *ngFor="let subtask of item.subtasks">
            <span>- {{subtask}}</span>
          </div>
        </div>
        <div class="task-actions">
          <button (click)="onEditClick(item)">Edit</button>
          <button (click)="onDeleteClick(item)">Delete 🗑️</button>
        </div>
      </div>
    </div>
    <div class="empty-list" *ngIf="!TaskListData?.todo || TaskListData?.todo?.length === 0">
      <span>No tasks in To-do State</span>
    </div>
  </div>

  <div class="in-progress-container">
    <div class="header">
      <span class="header-title">In-Progress <span class="count">{{TaskListData?.inProgress?.length || 0}}</span></span>
      <button class="add-task-btn" (click)="addNewTask('inProgress')">+ Add</button>
    </div>
    <div
      class="in-progress-list"
      id="inProgress-list"
      cdkDropList
      [cdkDropListData]="TaskListData?.inProgress || []"
      [cdkDropListConnectedTo]="['todo-list', 'done-list']"
      (cdkDropListDropped)="onDrop($event)">
      <div
        class="task-item"
        *ngFor="let item of TaskListData?.inProgress"
        cdkDrag
        [cdkDragData]="item">
        <div class="drag-handle" cdkDragHandle></div>
        <span class="title">{{item.title}}</span>
        <span class="description">{{item.description}}</span>
        <div class="subtasks">
          <div class="subtask-item" *ngFor="let subtask of item.subtasks">
            <span>- {{subtask}}</span>
          </div>
        </div>
        <div class="task-actions">
          <button (click)="onEditClick(item)">Edit</button>
          <button (click)="onDeleteClick(item)">Delete 🗑️</button>
        </div>
      </div>
    </div>
    <div class="empty-list" *ngIf="!TaskListData?.inProgress || TaskListData?.inProgress?.length === 0">
      <span>No tasks in In-Progress State</span>
    </div>
  </div>

  <div class="done-container">
    <div class="header">
      <span class="header-title">Done <span class="count">{{TaskListData?.done?.length || 0}}</span></span>
      <button class="add-task-btn" (click)="addNewTask('done')">+ Add</button>
    </div>
    <div
      class="done-list"
      id="done-list"
      cdkDropList
      [cdkDropListData]="TaskListData?.done || []"
      [cdkDropListConnectedTo]="['todo-list', 'inProgress-list']"
      (cdkDropListDropped)="onDrop($event)">
      <div
        class="task-item"
        *ngFor="let item of TaskListData?.done"
        cdkDrag
        [cdkDragData]="item">
        <div class="drag-handle" cdkDragHandle></div>
        <span class="title">{{item.title}}</span>
        <span class="description">{{item.description}}</span>
        <div class="subtasks">
          <div class="subtask-item" *ngFor="let subtask of item.subtasks">
            <span>- {{subtask}}</span>
          </div>
        </div>
        <div class="task-actions">
          <button (click)="onEditClick(item)">Edit</button>
          <button (click)="onDeleteClick(item)">Delete 🗑️</button>
        </div>
      </div>
    </div>
    <div class="empty-list" *ngIf="!TaskListData?.done || TaskListData?.done?.length === 0">
      <span>No tasks in Done State</span>
    </div>
  </div>
</div>
